<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="w-100 d-flex justify-content-around navbar-nav">
            <li class="nav-item">
              <a class="nav-link" id="home" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="blackjack" href="/blackjack">Blackjack</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="choose" href="/choose">Choose Your Own Adventure</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="hangman" href="/hangman">Hangman</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="roPaSc" href="/roPaSc">Rock Paper Scissors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="numberguess" href="/numberguess">Number Guess</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="higherlower" href="/higherlower">Higher Lower</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">{% block content %} {% endblock %}</div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js')}}"
    ></script>
  </body>
</html>